In [58]:
# -*- coding: utf-8 -*-
import dart_fss as dart
import pandas as pd
api_key='fcb0b5b6663759936ad3c7dbf488b1ead9459fd0'
dart.dart_set_api_key(api_key)

crp_list = dart.get_crp_list() # default 모든 시장
samsung_electronics = crp_list.find_by_name('LG화학')[0] # 리스트 반환
'''
# 오늘 공시된 전자공시 조회
today = dart.search_report() 

# 특정기간 검색 (3개월 이내)
reports = dart.search_report(start_dt='20190101',end_dt='20190201')
reports.page_no = 2     # 2번째 페이지로 이동
reports.next_page()     # 다음 페이지로 이동
reports.prev_page()     # 이전 페이지로 이동

# 특정회사 검색 
reports = dart.search_report(crp_cd='000660', start_dt='20190101') # 하이닉스
# 또는
'''
reports = samsung_electronics.search_report(start_dt='20120101')

# 검색결과 필터링
reports = reports.filter(bsn_tp='a001') # 연말보고서만 출력

annual_report = reports[0] # 2019년 사업보고서
#annual_report.pages # 2019년 사업보고서 Page List 출력

In [59]:
#reports

In [60]:
from stock_plotting_tool import stock_plotting_tool as plot_tool

In [61]:
report_list=[]
for i in range(5):
    report_list.append(reports[i])

In [62]:
test_list=[]
for i in range(5):
    test_list.append(plot_tool('dummy','금액'))

In [63]:
df_tmp=pd.read_html(report_list[0][10].html, '영업')
set_1=set(df_tmp[0]['구 분'].iloc[:,0])
set_1

{'공통 및 기타부문', '기초소재 사업부문', '생명과학 사업부문', '전지 사업부문', '정보전자소재 및 재료 사업부문', '합계'}

In [64]:
df_tmp[0]

                구 분     제18기             제17기             제16기
                구 분     영업이익      비율     영업이익      비율     영업이익      비율
0         기초소재 사업부문  2131072   94.9%  2808142   95.9%  2138625  107.4%
1           전지 사업부문   209170    9.3%    28875    1.0%   -49337   -2.5%
2  정보전자소재 및 재료 사업부문   -28297   -1.3%   111443    3.8%   -54965   -2.8%
3         생명과학 사업부문    49547    2.2%    53522    1.8%        -       -
4         공통 및 기타부문  -115422   -5.1%   -73525   -2.5%   -42403   -2.1%
5                합계  2246070  100.0%  2928457  100.0%  1991920  100.0%

In [55]:
load_value='영업손익'

In [56]:
dataframe_list=[]
for i in range(3):
    dataframe_list.append(test_list[i].load_table_html(report_list[i][10].html,load_value))

In [57]:
dataframe_list[0]

            사업부문   구 분      2018년            2017년            2016년
            사업부문   구 분         금액    비율         금액    비율         금액    비율
1   석유개발 및 기타 사업  영업손익     147577    7%      69713    2%      17222    1%
4          석유 사업  영업손익     709253   33%    1502048   46%    1625642   50%
7          화학 사업  영업손익    1117587   53%    1377223   43%    1232156   38%
10        윤활유 사업  영업손익     460676   22%     504931   16%     468320   14%
13        배터리 사업  영업손익  (317,503)  -15%  (232,129)   -7%  (100,089)   -3%
16             계  영업손익    2117590  100%    3221786  100%    3243251  100%

In [26]:
dataframe_list[0].xs('구 분',level=1,axis=1)

     구 분
1   영업손익
4   영업손익
7   영업손익
10  영업손익
13  영업손익
16  영업손익

In [14]:
dataframe_list_refined=[]
dataframe_list_col_removed=[]
dataframe_list_portion=[]
for i in range(3):
    dataframe_list_refined.append(test_list[0].refine_loaded_table(dataframe_list[i]))
    dataframe_list_col_removed.append(dataframe_list_refined[i].drop([2,3]))
    dataframe_list_portion.append(test_list[0].portion_get(dataframe_list_col_removed[i]))

KeyError: '부문'

In [15]:
overall_dataframe=dataframe_list_portion[0]
overall_dataframe_abs=dataframe_list_col_removed[0]
for i in range(1,3):
    overall_dataframe[dataframe_list_portion[i].iloc[:,-1].name]=dataframe_list_portion[i].iloc[:,-1]
    overall_dataframe_abs[dataframe_list_col_removed[i].iloc[:,-1].name]=dataframe_list_col_removed[i].iloc[:,-1]

IndexError: list index out of range

In [ ]:
overall_dataframe.reset_index(inplace=True)

In [ ]:
overall_dataframe.drop(['index'], axis=1, inplace=True)

In [ ]:
overall_dataframe

In [ ]:
overall_dataframe_abs

In [ ]:
overall_dataframe.plot(x='부문 - 부문.1',kind='bar', title='비율 그래프')
overall_dataframe_abs.plot(x='부문 - 부문.1',kind='bar',title='절대값 그래프')

In [ ]:


dataframe_modi_column_removed=dataframe_modi.drop([2,3])
dataframe_portion=test.portion_get(dataframe_modi_column_removed)
dataframe_portion

In [ ]:
test=plot_tool('dummy','금액')
test_1=plot_tool('dummy','금액')

In [ ]:
dataframe=test.load_table_html(report_18[10].html,'영업이익')

In [ ]:
dataframe_1=test_1.load_table_html(report_17[10].html,'영업이익')

In [ ]:
dataframe_1

In [ ]:
dataframe_modi=test.refine_loaded_table(dataframe)
dataframe_modi_column_removed=dataframe_modi.drop([2,3])
dataframe_portion=test.portion_get(dataframe_modi_column_removed)
dataframe_portion

In [ ]:
dataframe_modi_1=test_1.refine_loaded_table(dataframe_1)
dataframe_modi_column_removed_1=dataframe_modi_1.drop([2,3])
dataframe_portion_1=test_1.portion_get(dataframe_modi_column_removed_1)
dataframe_portion_1

In [ ]:
dataframe_portion_1_last=dataframe_portion_1.iloc[:,-1]

In [ ]:
dataframe_portion[dataframe_portion_1_last.name]=dataframe_portion_1_last

In [ ]:
#dataframe_portion_1=dataframe_portion_1.drop(['제48기','제47기'], axis=1)

In [ ]:
overall=pd.merge(dataframe_portion, dataframe_portion_1)

In [ ]:
overall

In [ ]:
overall.plot(x='부문 - 부문.1',kind='bar')